.popup3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    background-color: #000000;
    text-align: center;
    border: 15px outset green;
    color: rgb(207, 62, 62);
    border-radius: 25%;
    z-index: 9999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.no-scroll {
    overflow: hidden;
}

.about {
    width: 350px;
    height: 300px;
    float: right;
}

.social {
    width: 350px;
    margin: 0 50px;
    float: right;
}

.about h5,
.social h5 {
    font: 16px, Tahoma;
    font-size: larger;
    color: black;
    padding: 5px;
    margin: 20px auto;
    text-align: center;
}

.social ul li {
    float: right;
    margin: 10px 2px;
}

.social ul li img {
    border-radius: 50%;
}

.about p {
    font: 13px/2, Tahoma;
    color: black;
    text-align: justify;
    margin: 25px;
}

.main-footer {
    margin: 0 auto;
    width: 1100px;
}

.footer {
    width: 100%;
    height: 300px;
    background: #ff0040;
    margin: 20px auto 0;
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(../picture/footer1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.5), inset 0px 8px 16px rgba(255, 255, 255, 0.7);
    border-top: 10px outset #000000;
}

.clock-button {
    background: fixed;
    border: none;
}

#Hlist {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: #ff0040;
    position: absolute;
    width: fit-content;
    top: 0;
    right: 0;
    box-shadow: 0px 32px 48px rgba(0, 0, 0, 0.5), inset 0px 16px 32px rgba(255, 255, 255, 0.7);
    border: 10px outset #000000;
}

.Nlist {
    float: right;
    display: block;
    color: #0f0142;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: larger;
}

li a:hover {
    background-color: #fcfafa;
    border-radius: 50%;
}

#demo {
    text-align: center;
    color: #000000;
    font-style: italic;
    font-size: larger;
    animation: fade 0.5s infinite alternate;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.popup {
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.popup-content {
    position: fixed;
    background-color: #7a083d;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    font-size: larger;
}

.popup-content label,
.popup-content input,
.popup-content button {
    display: block;
    margin-bottom: 10px;
}

.popup-content button[type="submit"] {
    margin-top: 10px;
}

/* Center the popups horizontally and vertically */
#popup,
#popup2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#scrollToTop {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    border: none;
    color: red;
    text-align: center;
    line-height: 45px;
    font-size: xx-large;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
}

.close-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    background-color: red;
    /* سایر استایل‌های دلخواه شما */
}

.close-icon2 {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    background-color: red;
    /* سایر استایل‌های دلخواه شما */
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.col {
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(55, 175, 135, 0.432);
    border: 15px outset #ac1818;
    border-radius: 25%;
    box-shadow: 0px 48px 72px rgba(0, 0, 0, 0.5), inset 0px 24px 48px rgb(105, 0, 0);

}